
@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


.content_wrap2 {
    max-width: 100% !important;
}

.sub_content {
    padding: 0 !important;
}

.content {
    padding: 0 !important;
}

.cls_meditor_bg_A {
    background: #fff !important;
}

.n3iz3h.pp {
    display: none;
}

.n3iz3h.sub-content-head .page-tit {
    display: none;
}

.n3iz3h.sub-content-head {
    display: none;
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
	}


body {
    font-size: 1rem;
    font-weight: 400;
    word-break: keep-all;
    overflow-x: hidden;
    -ms-overflow-style: none;
}


a {
    text-decoration: none;
}



/* align */
.txt_c{
    text-align: center;
}
.txt_r{
    text-align: right;
}
.txt_l{
    text-align: left;
}

/* margin */
.m_auto{
    margin: auto;
}
.m_0{
    margin: 0;
}
.m_1{
    margin: 1px;
}
.m_2{
    margin: 2px;
}
.m_3{
    margin: 3px;
}
.m_4{
    margin: 4px;
}
.m_5{
    margin: 5px;
}
.m_20{
    margin: 20px;
}

.m_0_20{
    margin: 0 20px
}

/* margin-top */
.mt_1{
    margin-top: 1px;
}
.mt_2{
    margin-top: 2px;
}
.mt_3{
    margin-top: 3px;
}
.mt_4{
    margin-top: 4px;
}
.mt_5{
    margin-top: 5px;
}
.mt_8{
    margin-top: 8px;
}

/* margin-bottom */
.mb_1{
    margin-bottom: 1px;
}
.mb_2{
    margin-bottom: 2px;
}
.mb_3{
    margin-bottom: 3px;
}
.mb_4{
    margin-bottom: 4px;
}
.mb_5{
    margin-bottom: 5px;
}
.mb_14{
    margin-bottom: 14px;
}
.mb_24{
    margin-bottom: 24px;
}

/* margin-right */
.mr_1{
    margin-right: 1px;
}
.mr_2{
    margin-right: 2px;
}
.mr_3{
    margin-right: 3px;
}
.mr_4{
    margin-right: 4px;
}
.mr_5{
    margin-right: 5px;
}
.mr_8{
    margin-right: 8px;
}
.mr_16{
    margin-right: 16px;
}

/* margin-left */
.ml_1{
    margin-left: 1px;
}
.ml_2{
    margin-left: 2px;
}
.ml_3{
    margin-left: 3px;
}
.ml_4{
    margin-left: 4px;
}
.ml_5{
    margin-left: 5px;
}
.ml_8{
    margin-left: 8px;
}
.ml_90{
    margin-left: 90px;
}

/* padding */
.p_0{
    padding: 0;
}
.p_1{
    padding: 1px;
}
.p_2{
    padding: 2px;
}
.p_3{
    padding: 3px;
}
.p_4{
    padding: 4px;
}
.p_5{
    padding: 5px;
}
.p_18{
    padding: 18px;
}
.p_20{
    padding: 20px;
}


.p_8_12{
    padding: 8px 12px;
}

/* padding-top */
.pt_1{
    padding-top: 1px;
}
.pt_2{
    padding-top: 2px;
}
.pt_3{
    padding-top: 3px;
}
.pt_4{
    padding-top: 4px;
}
.pt_5{
    padding-top: 5px;
}
.pt_8{
    padding-top: 8px;
}
.pt_10{
    padding-top: 10px;
}
.pt_14{
    padding-top: 14px;
}
.pt_20{
    padding-top: 20px;
}
.pt_24{
    padding-top: 24px;
}

/* padding-bottom */
.pb_1{
    padding-bottom: 1px;
}
.pb_2{
    padding-bottom: 2px;
}
.pb_3{
    padding-bottom: 3px;
}
.pb_4{
    padding-bottom: 4px;
}
.pb_5{
    padding-bottom: 5px;
}
.pb_10{
    padding-bottom: 10px;
}
.pb_14{
    padding-bottom: 14px;
}
.pb_16{
    padding-bottom: 16px;
}
.pb_30{
    padding-bottom: 30px;
}
.pb_32{
    padding-bottom: 32px;
}

/* padding-right */
.pr_1{
    padding-right: 1px;
}
.pr_2{
    padding-right: 2px;
}
.pr_3{
    padding-right: 3px;
}
.pr_4{
    padding-right: 4px;
}
.pr_5{
    padding-right: 5px;
}
.pr_10{
    padding-right: 10px;
}
.pr_16{
    padding-right: 16px;
}
.pr_20{
    padding-right: 20px;
}

/* padding-left */
.pl_1{
    padding-left: 1px;
}
.pl_2{
    padding-left: 2px;
}
.pl_3{
    padding-left: 3px;
}
.pl_4{
    padding-left: 4px;
}
.pl_5{
    padding-left: 5px;
}
.pl_20{
    padding-left: 20px;
}

/* height */
.h_50{
    height: 50px;
}
.h_65{
    height: 65px;
}

/* font-size */
.fs_12{
    font-size: 12px;
}
.fs_14{
    font-size: 14px;
}

/* width */
.w_50{
    width: 50px;
}
.w_100p{
    width: 100%;
}

/* min-width */
.mw_35{
    min-width: 35px;
}

/* min-height */
.mh_35{
    min-height: 35px;
}

/* font-weight */
.fw_400{
    font-weight: 400;
}
.fw_500{
    font-weight: 500;
}
.fw_600{
    font-weight: 600;
}
.fw_700{
    font-weight: 700;
}


/* color */
.c_828282{
    color: #828282;
}
.c_4F4F4F{
    color: #4F4F4F;
}


/* cursor */
.c_pointer{
    cursor: pointer;
}

/* display */
.dp_f{
    display: flex;
}

.jc_b{
    justify-content: space-between;
}

.jc_e{
    justify-content: end;
}

/* overflow */
.of_g{
    overflow: hidden;
}